/* Hauptcontainer für das gesamte Layout */
body, html {
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('./assets/images/Hintergrund.png');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Deckt den gesamten Viewport ab */
}

/* Hauptcontainer für das Layout */
.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100%; /* Höhe auf 100% des Viewports setzen */
  margin-bottom: 10px;
  position: relative;
  width: 100%; /* Verhindert horizontales Ausdehnen */
  overflow-x: hidden; /* Verhindert horizontalen Überlauf */
  overflow-y: auto; /* Ermöglicht vertikales Scrollen */
  min-height: 100vh; /* Gesamthöhe mindestens Viewport-Größe */
}


/* Hintergrundbild *



/* Für größere Bildschirme (ab 1200px) */
@media (min-width: 1200px) {
  .layoutContainer {
      padding: 0 20px; /* Fügt für größere Bildschirme horizontalen Abstand hinzu */
  }

  .contentWrapper {
      max-width: 1200px; /* Begrenzung der Breite für größere Bildschirme */
      width: 100%;
      padding: 40px; /* Mehr Platz für den Inhalt */
  }

  .backgroundImage {
      /* Anpassung des Hintergrundbilds für große Bildschirme */
      height: 100%;
      width: 100%;
  }
}

/* Optional: Weitere Optimierungen für Bildschirme über 1600px */
@media (min-width: 1600px) {
  .layoutContainer {
      padding: 0 40px; /* Erhöht den Abstand für noch größere Bildschirme */
  }

  .contentWrapper {
      max-width: 1400px; /* Erweiterung des Inhaltsbereichs */
  }
}

  
  /* Container für die Suche und Kategorien */
 /* Container für die Suche und Kategorien */
.searchContainer {
  width: 100%;
  display: flex;
  flex-direction: column; /* Ordnet die Suchleiste oben und die Kategorien darunter */
  align-items: center;
  gap: 50px; /* Abstand zwischen Suchleiste und Kategorien */
  margin-top: 100px;
  z-index: 1001px;
}

/* Styling für die Suchleiste */
.searchBar {
  width: 80%;
  max-width: 600px; /* Maximale Breite der Suchleiste */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; /* Abstand zwischen den Elementen in der Suchleiste */
}
/* Eingabefeld für die Suche */
.searchInput {
  flex-grow: 1;
  font-size: 16px;
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc; /* Optional: Rand für die Eingabe */
}

/* Container für die Kategorien */
.categoriesContainer {
  display: flex; /* Ordnet die Kategorien nebeneinander an */
  flex-wrap: nowrap; /* Verhindert Umbruch */
  justify-content: center; /* Zentriert die Kategorien horizontal */
  align-items: center; /* Zentriert die Kategorien vertikal */
  gap: 15px; /* Abstand zwischen den Kategorien */
  margin-bottom: 20px;

  /* Responsiv für kleinere Bildschirme */
  overflow-x: auto; /* Zeigt eine horizontale Scrollleiste an, wenn nötig */
  width: 100%; /* Stellt sicher, dass der Container die ganze Breite einnimmt */
  padding: 0 10px; /* Optional: Innenabstand bei kleineren Bildschirmen */
}

/* Kategorien-Icons */
.categoryIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #E7B84B;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Animation bei Hover */
}

/* Hover-Effekt für Kategorien */
.categoryIcon:hover {
  transform: scale(1.1); /* Vergrößert die Kategorie leicht */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Schatteneffekt */
}

/* Optional: Styles für größere Bildschirme */
@media (max-width: 600px) {
  .categoriesContainer {
    padding: 0 10px; /* Optional: Innenabstand bei kleineren Bildschirmen */
  }
}

/* Layout für mobile Geräte */
/* Layout für mobile Geräte */
@media (max-width: 600px) {
  .layoutContainer {
    width: 100%;
    padding: 0; /* Kein zusätzliches Padding */
  }

 

  /* Container für die Kategorien */
  .categoriesContainer {
    display: flex;
    flex-wrap: nowrap; /* Verhindert Umbruch und sorgt dafür, dass die Buttons in einer Zeile bleiben */
    justify-content: flex-start; /* Sorgt dafür, dass die Buttons am Anfang beginnen */
    gap: 15px; /* Abstand zwischen den Kategorien */
    padding: 0 10px; /* Optional: Innenabstand bei kleinen Bildschirmen */
    width: 100%; /* Stellt sicher, dass der Container die gesamte Breite einnimmt */
    overflow-x: auto; /* Zeigt eine horizontale Scrollleiste an, wenn nötig */
    box-sizing: border-box; /* Verhindert, dass Padding die Gesamtbreite überschreitet */
  }
}



  
  /* Tooltips für Kategorien */
  .tooltip {
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
  }


/* Layout.module.css */
.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px auto;
  position: relative;
  max-width: 80%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* Layout.module.css */
.hiddenContentWrapper {
  display: none;
}


/* Cart-Container im Content-Bereich */
/* Container für den Einkaufswagen */
/* Layout.module.css */

/* Container für das Overlay */
.cartOverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px; /* Breite des Overlays */
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%); /* Anfangszustand: Overlay ist versteckt */
  transition: transform 0.3s ease-in-out;
  z-index: 1300; /* Über Navbar und andere Inhalte legen */
}

/* Wenn das Overlay geöffnet ist */
.cartOverlay.open {
  transform: translateX(0); /* Overlay anzeigen */
}

/* Inhalt des Einkaufswagen-Overlays */
.cartContent {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Header des Overlays */
.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Schließ-Button für das Overlay */
.closeButton {
  padding: 0;
}

/* Zusätzliche Stile für das Schließen des Overlay-Buttons */
.cartHeader button {
  padding: 0;
}

.cartButtons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem; /* optional, um Abstand zu den Rändern hinzuzufügen */
  background-color: #fff; /* optional, falls du den Hintergrund ändern möchtest */
  align-items: center; /* Vertikale Ausrichtung der Buttons */
}

.cartButtons .absendenButton {
  background-color: #4caf50;
  &:hover {
    background-color: #45a049;
  }
  margin-right: 16px; /* Abstand zwischen den Buttons */
  white-space: nowrap; /* Verhindert den Zeilenumbruch */
}

.cartButtons .loeschenButton {
  background-color: #FF7033;
  &:hover {
    background-color: #e55c29;
  }
}

.startseiteVisible {
  display: block;
}

.startseiteHidden {
  display: none;
}


.footer {
  background: #06b153 !important;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 254px;
  z-index: 100;
  margin: 0;
  position: relative; /* Normal position */
  bottom: 0; /* Positioniere den Footer ganz unten */
  left: 0;
  right: 0;
}




.frame5 {
  display: flex;
  flex-direction: row;
  gap: 62px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 186px;
  position: relative;
}
.unternehmen {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  letter-spacing: 0.17em;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.kontakt {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.agb {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.presse {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.jobs {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.impressum {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.datenschutz {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.datenschutzEinstellungen {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.frame2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 186px;
  position: relative;
}
.quickLinks {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  letter-spacing: 0.17em;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.zutatDerWoche {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.anmelden {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.registrieren {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.magazin {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.sponsoring {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.frame3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 186px;
  position: relative;
}
.newsletter {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  letter-spacing: 0.17em;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.zumNewsletterAnmelden {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.faq {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.frame4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 186px;
  position: relative;
}
.beliebteSuche {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  letter-spacing: 0.17em;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.muffinsVegen {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.suppen {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.dessert {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.plTzchen {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.mango {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.sucheUndSlider {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  justify-content: flex-start;
  width: 1437px;
  position: absolute;
  left: 0px;
  top: 198px;
}
.rectangle2 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 517px;
  height: 52px;
  position: relative;
  overflow: visible;
}
.frame8 {
  padding: 0px 23px 0px 23px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 80px;
  position: relative;
  overflow-x: auto;
}
.frame7 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.ellipse1 {
  background: #f7f7f7;
  border-radius: 50%;
  border-style: solid;
  border-color: #b9b9b9;
  border-width: 1px;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame82 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame10 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame11 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame12 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame13 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame14 {
  padding: 14px 17px 14px 17px;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.ellipse12 {
  background: #f7f7f7;
  border-radius: 50%;
  border-style: solid;
  border-color: #b9b9b9;
  border-width: 1px;
  width: 73px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame15 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame16 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame17 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame18 {
  padding: 14px 17px 14px 17px;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame19 {
  padding: 14px 17px 14px 17px;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame20 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame21 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame22 {
  padding: 14px 17px 14px 17px;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame23 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame24 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame25 {
  padding: 8px 11px 8px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: relative;
}
.frame26 {
  padding: 0px 11px 0px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 73px;
  height: 66px;
  position: absolute;
  left: 1695px;
  top: 0px;
}
.zutatderWoche {
  width: 1440px;
  height: 725px;
  position: absolute;
  left: 0px;
  top: 403px;
  overflow: hidden;
}
.frame30 {
  display: flex;
  flex-direction: row;
  gap: 127px;
  align-items: center;
  justify-content: flex-start;
  width: 1210px;
  height: 584px;
  position: absolute;
  left: 115px;
  top: 117px;
}
.group3 {
  flex-shrink: 0;
  width: 543px;
  height: 600px;
  position: static;
}
.rectangle9 {
  background: #d9d9d9;
  border-radius: 29px;
  width: 543px;
  height: 597.88px;
  position: absolute;
  left: 0px;
  top: -8px;
}
.group2 {
  width: 543px;
  height: 600px;
  position: absolute;
  left: 0px;
  top: -8px;
  overflow: visible;
}
.group4 {
  flex-shrink: 0;
  width: 543px;
  height: 600px;
  position: static;
}
.rectangle92 {
  background: #d9d9d9;
  border-radius: 29px;
  width: 543px;
  height: 599.61px;
  position: absolute;
  left: 670px;
  top: -8px;
}
.group22 {
  width: 542.79px;
  height: 600px;
  position: absolute;
  left: 670px;
  top: -8px;
  overflow: visible;
}
.frame32 {
  background: #383d3b;
  width: 1440px;
  height: 65px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame37 {
  padding: 20px 96px 20px 96px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 282px;
  height: 65px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.zutatDerWoche2 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.textVergangeneZutaten {
  background: #383d3b;
  width: 1440px;
  height: 65px;
  position: absolute;
  left: 0px;
  top: 1179px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame372 {
  padding: 20px 96px 20px 96px;
  width: 764px;
  height: 65px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.vergangeneZutatenDerWoche {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 39px;
  top: 14.5px;
  width: 581px;
}
.boxVergangeneZutaten {
  width: 1440px;
  height: 459px;
  position: absolute;
  left: -3px;
  top: 1246px;
  overflow: hidden;
}
.group42 {
  position: absolute;
  inset: 0;
}
.rectangle93 {
  background: #d9d9d9;
  border-radius: 29px;
  width: 413px;
  height: 381.65px;
  position: absolute;
  left: 516px;
  top: 39px;
}
.frame54 {
  display: flex;
  flex-direction: row;
  gap: 43px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 60px;
  top: 37px;
}
.group32 {
  flex-shrink: 0;
  width: 413px;
  height: 383px;
  position: static;
}
.rectangle94 {
  background: #d9d9d9;
  border-radius: 29px;
  width: 413px;
  height: 381.65px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group23 {
  width: 413px;
  height: 383px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group24 {
  flex-shrink: 0;
  width: 413px;
  height: 383px;
  position: relative;
  overflow: visible;
}
.rectangle95 {
  background: #d9d9d9;
  border-radius: 29px;
  width: 413px;
  height: 381.65px;
  position: absolute;
  left: 912px;
  top: 1px;
}
.group25 {
  width: 413px;
  height: 383px;
  position: absolute;
  left: 912px;
  top: 0px;
  overflow: visible;
}



/*searchrecipe und kategoryRezept brauchen noch die bilder.
//beide seiten und rezeptdetails kann man nur durch login erreichen was dumm ist*/
