/* ProfilContainer */
.profilContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px; /* Festgelegte Breite */
    padding: 20px;
    gap: 20px;
    background-color: transparent;
    margin: 0 auto;
    width: 100%; /* Keine Breitenänderung durch äußere Container */
}

/* Tabs */
.tabs {
    background-color: #383D3B !important;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%; /* Tabs nehmen die volle Breite ein */
    max-width: 800px; /* Maximale Breite der Tabs */
    overflow: hidden; /* Verhindert, dass Tabs die Breite überschreiten */
}

/* Tab */
.tab {
    color: white !important;
    font-weight: bold;
    text-align: left;
    transition: background-color 0.3s ease;
    padding: 10px 20px; /* Gleiche Größe für alle Tabs */
    width: auto; /* Automatische Breite für Tabs */
}

/* Aktiver Tab */
.Mui-selected {
    background-color: #e7b84b !important;
    color: black !important;
}

/* Tab-Inhalt */
.tabContent {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    gap: 100px;
    width: 100%;
    max-width: 800px; /* Maximale Breite für den Inhalt */
}

/* Profil-Inhalt */
.profilContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 400px;
}




/* Eingabefelder */
.textField {
    width: 100%;
    max-width: 400px; /* Feste Breite */
    margin-bottom: 15px;
    background-color: #F1F1F1 !important;
}

/* Bild-Sektion */
.imageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.profileImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc !important;
}

.uploadButton {
    background-color: #e7b84b !important;
    color: black;
    font-weight: bold;
}

/* Eingabefelder */
.textField {
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    background-color: #F1F1F1 !important;
}

.textField label {
    font-weight: bold;
}

/* Speichern-Button */
.saveButton {
    background-color: #4caf50 !important;
    color: white;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.saveButton:hover {
    background-color: #45a049 !important;
}
