.zutatBalken {
    background-color: #383D3B !important;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .zutatBalken .MuiTypography-h4 {
    font-family: 'Poppins-ExtraBold', sans-serif;
    font-size: 18px;
    text-align: center;
  }