/* TimerButton.css */

.timerButton {
    background-color: #45a049 !important; /* Standardfarbe Grün */
    transition: background-color 0.3s ease; /* Übergangseffekt für Farbänderung */
  }
  
  .timerButton:hover {
    background-color: #45a049 !important;  /* Standard Hover-Farbe */
  }
  
  .timerButton.running {
    background-color: #ff9800 !important; /* Wenn Timer läuft, wird Orange */
  }
  
  .timerButton.running:hover {
    background-color: #ff9800 !important; /* Hover-Farbe wenn Timer läuft */
  }
  .textfield{
    background-color: #F1F1F1 !important;
 } 
  